@font-face {
  font-family: "FiraSansRegular";
  src: url("./static/fonts/FiraSansRegular.eot");
  src: url("./static/fonts/FiraSansRegular.eot?#iefix")format("embedded-opentype"),
  url("./static/fonts/FiraSansRegular.woff") format("woff"),
  url("./static/fonts/FiraSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}